@media screen and (max-width:750px) {#quadradoExterno {
  left: 0;
  right: 0;
  margin: auto;
  width: 20%; /* Reduzir a largura do quadrado externo */
}

    /* ==== Primeira seção ==== */
    .firstsection {
        height: auto; /* Remova a altura fixa para que o conteúdo determine a altura */
        flex-direction: column; /* Coluna inversa para reorganizar os elementos */
    }

    .firstsection-leftdiv {
        width: 100%; /* Ocupa toda a largura da primeira seção */
        height: 50%;
    }

    #quadradoExterno {
        left: 0;
        right: 0;
        margin: auto;
        width: 45%; /* Reduzir a largura do quadrado externo */
      }

    .firstsection-rightdiv {
        background: #180c20;
        background-image: url("./img1.png");
        background-size: cover;
        background-position: start;
        width: 100%;
        height: 100%;
        display: flex;
      }

    .heading {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .link-holder {
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 0px;
    }

    .link-holder h4 {
        margin-bottom: 0px;
    }

    /* ==== Segunda seção ==== */
    .secondsection {
        flex-direction: column;
    }

    .secondsection-rightdiv {
        margin-left: 0;
        margin-top: 30px;
    }

    /* ==== Terceira seção ==== */
    .thirdsection {
        flex-direction: column-reverse;
        align-items: center;
    }

    .thirdsection-leftdiv {
        margin-top: 10px;
    }

    /* ==== Seção do rodapé ==== */
    .footer {
        flex-direction: column;
        padding: 20px 30px;
        text-align: center;
    }

    .footer-iconcontainer {
        margin: 15px 0;
    }
}




