@media screen and (max-width:750px) {#quadradoExterno {
  left: 0;
  right: 0;
  margin: auto;
  width: 20%; /* Reduzir a largura do quadrado externo */
}

/* Estilos para o botão flutuante */
.floating-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #f78e0e;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 13px 20px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000; /* Certifique-se de que o botão está em cima de outros elementos */
  }
  

  .thirdsection-rightdiv {
  background: #f78e0e;
  padding: 15px;
  width: 85%;
  flex: 1; /* Ocupar todo o espaço restante */
  border-radius: 10px; /* Cantos arredondados */
}
.thirdsection-leftdiv {
    background: url("./images/image3.jpeg");
    background-size: cover;
    border-radius: 10px; /* Cantos arredondados */
    padding: 150px;
  }
  .conteudoInterno {
    margin-left: 30px;
    
    font-size: 14px;
    background-color: #465486;
    color: black;
    border: none;
    border-radius: 100px; /* Adicionar bordas arredondadas aos botões internos */
    width: 65px; /* Definir a largura dos botões internos */
    height: 65px; /* Definir a altura dos botões internos */
  
    background-image: url("assets/images/botoes/botton1.png");
    background-size: 90%;
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    
   
  }

    /* ==== Primeira seção ==== */
    .firstsection {
        height: auto; /* Remova a altura fixa para que o conteúdo determine a altura */
        flex-direction: column; /* Coluna inversa para reorganizar os elementos */
    }

    .firstsection-leftdiv {
        width: 100%; /* Ocupa toda a largura da primeira seção */
        height: 50%;
    }

    #quadradoExterno {
        left: 0;
        right: 0;
        margin: auto;
        width: 45%; /* Reduzir a largura do quadrado externo */
      }

    .firstsection-rightdiv {
        background: #180c20;
        background-image: url("./img1.png");
        background-size: cover;
        background-position: start;
        width: 100%;
        height: 100%;
        display: flex;
      }

    .heading {
        font-size: 20px;
    }

    

    .link-holder {
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 0px;
    }

    .link-holder h4 {
        margin-bottom: 0px;
    }

    /* ==== Segunda seção ==== */
    .secondsection {
        flex-direction: column;
    }

    .secondsection-rightdiv {
        margin-left: 0;
        margin-top: 30px;
    }

    /* ==== Terceira seção ==== */
    .thirdsection {
        flex-direction: column-reverse;
        align-items: center;
    }

    .thirdsection-leftdiv {
        margin-top: 10px;
    }

    /* ==== Seção do rodapé ==== */
    .footer {
        flex-direction: column;
        padding: 20px 30px;
        text-align: center;
    }

    .footer-iconcontainer {
        margin: 15px 0;
    }

    /* Estilo para a classe .secondsection-div */
.secondsection-div {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  /* Estilo para a classe .margin-bottom */
  .margin-bottom {
    margin-bottom: 20px;
  }
  
  /* Outros estilos que você pode querer aplicar */
  h2 u {
    text-decoration: underline;
    text-decoration-color: #f78e0e;
  }
  
  p {
    text-align: justify;
  }

.quadrado {
  display: flex;
  top: 15%;
  position: fixed;
  background-color: #D7D7DF;
  padding: 10px; /* Reduzir o padding */
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px; /* Adicionar bordas arredondadas */
  width: 90%;
  height: 450px;
  text-align: center;
}

#quadradoExterno {
    padding-left: 20px;
    padding-top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 260px; /* Reduzir a largura do quadrado externo */
    height: 300px;
  }

  .textoExterno {
    margin-top: 20px; /* Adicione margem no topo para separar o texto do conteúdo interno */
    font-size: 85%; /* Ajuste o tamanho da fonte conforme necessário */
    color: black;
    padding-right: 0%;
    text-align: center;
  
  }

}




