@media screen and (max-width:750px) {

    /* ==== Primeira seção ==== */
    .firstsection {
        height: 270px;
    }

    .firstsection-leftdiv {
        width: 70%;
    }

    .firstsection-rightdiv {
        width: 30%;
    }

    .heading {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .link-holder {
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }

    .link-holder h4 {
        margin-bottom: 20px;
    }


    /* ==== Segunda seção ==== */
    .secondsection {
        flex-direction: column;
    }

    .secondsection-rightdiv {
        margin-left: 0;
        margin-top: 30px;
    }


    /* ==== Terceira seção ==== */
    .thirdsection {
        flex-direction: column-reverse;
        align-items: center;
    }

    .thirdsection-leftdiv {
        margin-top: 30px;
    }


    /* ==== Seção do rodapé ==== */
    .footer {
        flex-direction: column;
        padding: 20px 30px;
        text-align: center;
    }

    .footer-iconcontainer {
        margin: 15px 0;
    }

}

