/* ==== Correções Comuns  ==== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}


/* ===== Primeira seção ===== */
.firstsection {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1500px;
  height: 350px;
}

.firstsection-leftdiv {
  padding: 20px;
  background: #f78e0e;
  background-size: 80%;
  background-image: url("./assets/images/cabeçalho/img.png");
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  width: 50%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Evita que a imagem seja esticada */
}


.firstsection-rightdiv {
  background: #180c20;
  background-size: 70%;
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center ;
  width: 50%;
  height: 100%;
  display: flex;
}


span {
  color: var(--main-color);
}

.logotext {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 20px;
}

.firstsection-leftdiv p {
  margin-bottom: 25px;
}

.link-holder {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
}
.link-holder h4 {
  color: #ffffff; /* Cor inicial dos links */
  text-decoration: none; /* Remover sublinhado padrão dos links */
  transition: text-decoration 0.3s; /* Efeito de transição para o sublinhado */
}

.link-holder h4:hover {
  text-decoration: underline; /* Adicionar sublinhado quando o mouse passar por cima */
}


/* ==== Segunda seção ==== */

.secondsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1500px;
}

.secondsection-leftdiv{
  width: 310px;
  height: 400px;
  background: var(--gray-color);
  padding: 40px 25px;
}
.secondsection-leftdiv p{
  margin: 10px 0;
}
.secondsection-rightdiv {
  margin-left: 20px;
  width: 340px;
  height: 460px;
  background: var(--main-color);
}

/* ==== Terceira seção ==== */

.thirdsection {
  background: var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1500px;
}

.thirdsection-leftdiv,
.thirdsection-rightdiv {
  width: 350px;
  height: 460px;
}

.thirdsection-leftdiv{
  background: url("./images/image3.jpg");
  background-size: cover;
}

.thirdsection-rightdiv {
  background: var(--main-color);
  padding: 30px 25px;

}

.thirdsection-rightdiv p{
  margin: 10px 0;
}

/* ==== Seção do rodapé ==== */

.footer {
  background: var(--main-color);
  padding: 20px 0;
  flex-wrap: wrap;
  color: var(--white-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1500px;
}

