/* ==== Correções Comuns  ==== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


/* ===== Primeira seção ===== */
.firstsection {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1500px;
  height: 350px;
}

.firstsection-leftdiv {
  padding: 20px;
  background: #f78e0e;
  background-size: 80%;
  background-image: url("assets/images/cabecalho/img.png");
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  width: 50%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Evita que a imagem seja esticada */
}


.firstsection-rightdiv {
  background: #180c20;
  background-size: 70%;
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center ;
  width: 50%;
  height: 100%;
  display: flex;
}


span {
  color: var(--main-color);
}

.logotext {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 20px;
}

.firstsection-leftdiv p {
  margin-bottom: 25px;
}

.link-holder {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
}
.link-holder h4 {
  color: #ffffff; /* Cor inicial dos links */
  text-decoration: none; /* Remover sublinhado padrão dos links */
  transition: text-decoration 0.3s; /* Efeito de transição para o sublinhado */
}

.link-holder h4:hover {
  text-decoration: underline; /* Adicionar sublinhado quando o mouse passar por cima */
}


/* ==== Segunda seção ==== */

.secondsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1500px;
}

.secondsection-leftdiv{
  width: 310px;
  height: 400px;
  background: #f78e0e;
  padding: 40px 25px;
}
.secondsection-leftdiv p{
  margin: 10px 0;
}
.secondsection-rightdiv {
  margin-left: 20px;
  width: 340px;
  height: 460px;
  background: #f78e0e;
}

/* ==== Terceira seção ==== */

.thirdsection {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 800px;
}

.thirdsection-leftdiv,
.thirdsection-rightdiv {
  width: 180px;
  height: 180px;
}

.thirdsection-leftdiv {
  background: url("./images/image3.jpeg");
  background-size: cover;
  border-radius: 10px; /* Cantos arredondados */
}

.thirdsection-rightdiv {
  background: #f78e0e;
  padding: 40px;
  flex: 1; /* Ocupar todo o espaço restante */
  border-radius: 10px; /* Cantos arredondados */
}

.thirdsection-rightdiv p {
  margin: 10px 0;
  text-align: justify; /* Alinhar o texto justificado */
  color: black; /* Cor do texto */

}

/* ==== Seção do rodapé ==== */

.footer {
  background: #180c20;
  padding: 20px 0;
  flex-wrap: wrap;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1500px;
}



a {
  color: white;
  /* Outros estilos, como remoção do sublinhado */
  text-decoration: none;
}

#container {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.5s;
  overflow: hidden;
}

.sub-button {
  width: 30%;
  height: 30%;
  background-color: lightgray;
  margin: 1%;
  display: none;
}

#expand-button.expanded {
  width: 300px;
  height: 300px;
}

.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container {
  text-align: center;
}

.quadrado {
  display: flex;
  top: 30%;
  position: fixed;
  background-color: #D7D7DF;
  padding: 10px; /* Reduzir o padding */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px; /* Adicionar bordas arredondadas */
  width: 460px;
  height: 460px;
  text-align: center;
}



#quadradoExterno {
  padding-left: 25px;
  padding-top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px; /* Reduzir a largura do quadrado externo */
  height: 300px;
}

.botaoVoltar {
  background-color: #f78e0e; /* Definir a cor de fundo como amarelo */
  color: black; /* Definir a cor do texto como preto para melhor legibilidade */
  padding: 7px 10px; /* Ajustar o padding conforme necessário */
  border: none; /* Remover a borda */
  border-radius: 5px; /* Adicionar bordas arredondadas */
  cursor: pointer; /* Mudar o cursor ao passar por cima */
  display: block;
  margin-bottom: 10px;
}

.botoesInternos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 10px; /* Reduzir a margem superior */
}

.botaoInterno {
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  background-color: #465486;
  color: white;
  border: none;
  border-radius: 10px; /* Adicionar bordas arredondadas aos botões internos */
  width: 50px; /* Definir a largura dos botões internos */
  height: 50px; /* Definir a altura dos botões internos */
  
}




.conteudoInterno {
  margin-left: 45px;
  
  font-size: 14px;
  background-color: #465486;
  color: black;
  border: none;
  border-radius: 100px; /* Adicionar bordas arredondadas aos botões internos */
  width: 70px; /* Definir a largura dos botões internos */
  height: 70px; /* Definir a altura dos botões internos */

  background-image: url("assets/images/botoes/botton1.png");
  background-size: 90%;
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  
 
}


.textoExterno {
  
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  color: black;
  text-align: start;
  padding-right: 0px;
  text-align: center;
  margin: 25px;

}


#botaoAbrir {
  background-color: #f78e0e; /* Definir a cor de fundo como amarelo */
  color: black; /* Definir a cor do texto como preto para melhor legibilidade */
  padding: 10px 20px; /* Ajustar o padding conforme necessário */
  border: none; /* Remover a borda */
  border-radius: 5px; /* Adicionar bordas arredondadas */
  cursor: pointer; /* Mudar o cursor ao passar por cima */
}



/* Estilos para o botão flutuante */
.floating-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #f78e0e;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000; /* Certifique-se de que o botão está em cima de outros elementos */
}

.floating-button:hover {
  background-color: #f78e0e;
}




/* Estilo para a classe .secondsection-div */
.secondsection-div {
  margin-left: 90px;
  margin-right: 90px;
}

/* Estilo para a classe .margin-bottom */
.margin-bottom {
  margin-bottom: 20px;
}

/* Outros estilos que você pode querer aplicar */
h2 u {
  text-decoration: underline;
  text-decoration-color: #f78e0e;
}

p {
  text-align: justify;
}


.alimento {
  background-color: #AA8395; /* Cor de fundo vermelha */
  border: none;
  border-radius: 10px; /* Cantos arredondados */
  width: 70px; /* Defina a largura dos botões */
  
  margin: 5px; /* Espaçamento entre os botões */
  padding: 5px; /* Espaçamento interno dos botões */
  font-size: 14px; /* Tamanho da fonte */
  color: white; /* Cor do texto */
  text-align: center;
  cursor: pointer;
  
}


.coluna1, .coluna2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.coluna1 button, .coluna2 button {
  
    box-sizing: border-box; /* Evita problemas de dimensionamento */
    margin: 0; /* Remove margens padrão */
}
